name: ci

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    test-codestyles:
        strategy:
            matrix:
                php: ['8.2', '8.3', '8.4', '8.5']
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2

            - uses: shivammathur/setup-php@v2
              with:
                php-version: ${{ matrix.php }}
                tools: composer
                coverage: none

            - name: Install dependencies
              run: composer install --prefer-dist --no-progress

            - name: run code php-cs-fixer
              run: ./tools/php-cs-fixer fix --config=.php-cs-fixer.php --dry-run

            - name: run phpstan
              run: ./tools/phpstan analyse -l 5 ./src

    integration-tests:
        strategy:
            max-parallel: 1
            matrix:
                php: ['8.2', '8.3', '8.4', '8.5']
        environment: testing
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2

            - uses: shivammathur/setup-php@v2
              with:
                php-version: ${{ matrix.php }}
                tools: composer
                coverage: none

            - name: Install dependencies
              run: composer install --prefer-dist --no-progress

            - name: run tests
              run: ./vendor/bin/phpunit --stop-on-failure --stop-on-error
              env:
                  COLLECTION: ${{ secrets.COLLECTION }}
                  APIKEY: ${{ secrets.APIKEY }}
