name: ci

on:
    push:
        branches: [ main ]
    pull_request_target:
        types: [opened, synchronize, reopened]

jobs:
    integration-tests:
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        strategy:
            max-parallel: 1
            matrix:
                php: ['8.2', '8.3', '8.4', '8.5']
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2

            - uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  tools: composer
                  coverage: none

            - name: Install dependencies
              run: composer install --prefer-dist --no-progress

            - name: run tests
              run: ./vendor/bin/phpunit --stop-on-failure --stop-on-error
              env:
                  COLLECTION: ${{ secrets.COLLECTION }}
                  APIKEY: ${{ secrets.APIKEY }}